 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
header{
  background-color:black;
  position:relative;
  z-index:8;
  height:105px;
  box-shadow:0 2px 0px rgba(0, 0, 0, .3);
  position:fixed;
}
.logo{
position:absolute;
z-index:10;
}
.title{
position:absolute;
z-index:9;
font-family:'Faster One';
left: 176px;
padding-top: 12px;
font-size: 38px;
color:red;
text-shadow:0 3px 0px rgba(0, 0, 0, .3);
}
.main{
height:456px;
background-image:url("../images/wallpaper.png");
position:relative;
z-index:6;
}
.psp{
background-image:url("../images/psp.png");
height:500px;
position:absolute;
z-index:7;
width: 711px;
margin-left: 266px;
}
.logo-screen{
background-image:url("../images/psp-ring.gif");
position:absolute;
z-index:8;
width: 400px;
height: 230px;
margin-top: 133px;
margin-left: 161px;
}
.titlescreen{
background-image:url("../images/titlescreen.gif");
position:absolute;
z-index:9;
width: 400px;
height: 230px;
margin-top: 133px;
margin-left: 161px;
display:none;
}
.logogif{
background-image:url("../images/madmaxlogo.gif");
position: absolute;
z-index: 10;
width: 250px;
height: 180px;
margin-top: 138px;
margin-left: 240px;
display:none;
}
.road{
background-image:url("../images/road1.gif");
position:absolute;
z-index:11;
width: 400px;
height: 230px;
margin-top: 133px;
margin-left: 161px;
display:none;
}
.yellowcardamage{
background-image:url("../images/yellowcardamage.gif");
position:absolute;
z-index:12;
width: 400px;
height: 230px;
margin-top: 133px;
margin-left: 161px;
display:none;
}
.blackcardamage{
background-image:url("../images/blackcardamage.gif");
position:absolute;
z-index:13;
width: 400px;
height: 230px;
margin-top: 133px;
margin-left: 161px;
display:none;
}
.youlose{
background-image:url("../images/maxdead.gif");
position:absolute;
z-index:13;
width: 400px;
height: 230px;
margin-top: 133px;
margin-left: 161px;
display:none;
}
.youwin{
background-image:url("../images/missile.gif");
position:absolute;
z-index:13;
width: 400px;
height: 230px;
margin-top: 133px;
margin-left: 161px;
display:none;
}
.startbutton{
	position: absolute;
z-index: 11;
width: 63px;
height: 26px;
margin-top: 378px;
margin-left: 529px;
cursor: pointer;
}
.clicktostart{
position: absolute;
z-index: 11;
width: 400px;
height: 113px;
margin-top: 250px;
margin-left: 157px;
cursor: pointer;
}
.attackbutton{
position: absolute;
z-index: 11;
width: 41px;
height: 33px;
margin-top: 267px;
margin-left: 610px;
cursor: pointer;
}
.main2{
height:900px;
background-color:black;
width:1280px;
position:relative;
z-index:1;
}
.madmaxcarfront{
	height: 56px;
background-image: url("../images/madmaxcarfront.png");
width: 72px;
position: absolute;
z-index: 2;
left: 217px;
top: 400px;
}
.player{
height: 56px;
width: 72px;
position: absolute;
z-index: 2;
left: 283px;
top: 423px;
}
div.player input{
background-color:transparent;
width:40px;
border:none;
color:red;
text-shadow:0 3px 0px rgba(0, 0, 0, .5);
}
.interceptorcarfront{
height: 56px;
background-image: url("../images/interceptorcarfront.png");
width: 72px;
position: absolute;
z-index: 2;
left: 433px;
top: 400px;
}
.monster{
height: 56px;
width: 72px;
position: absolute;
z-index: 2;
left: 407px;
top: 423px;
}
div.monster input{
background-color:transparent;
width:40px;
border:none;
color:red;
text-shadow:0 3px 0px rgba(0, 0, 0, .5);
}

.madmaxcar{
height:200px;
width:300px;
position:absolute;
z-index:2;
left: 200px;

}
.vs{
height:200px;
width:300px;
position:absolute;
z-index:2;
left: 486px;

}
.interceptorcar{
height:200px;
width:300px;
position:absolute;
z-index:2;
left: 786px;
}
.main-text{
left: 335px;
position: absolute;
height: 554px;
width: 600px;
z-index: 2;
background-image: url("../images/main-text.png");
margin-top: 228px;

}
footer{
height:100px;
width:1280px;
background-color: red;

}
.tiylogo{
height: 90px;
padding-left: 604px;
padding-top: 10px;
float: none;
}
.shotgun{
height:85px;
width:200px;
position:absolute;
z-index:2;
left: 536px;
background-image:url("../images/shotgun.png");
margin-top: 790px;
}